[submodule "aprendizagem_projeto_integrador_frontend_angular"]
	path = aprendizagem_projeto_integrador_frontend_angular
	url = https://github.com/adssenacgit/aprendizagem_projeto_integrador_frontend_angular

[submodule "aprendizagem_ctx_senac_coin"]
	path = aprendizagem_ctx_senac_coin
	url = https://github.com/adssenacgit/aprendizagem_ctx_senac_coin
