[submodule "aprendizagem_projeto_integrador_frontend_angular"]
	path = aprendizagem_projeto_integrador_frontend_angular
	url = https://github.com/adssenacgit/aprendizagem_projeto_integrador_frontend_angular

[submodule "aprendizagem_ctx_senac_coin"]
	path = aprendizagem_ctx_senac_coin
	url = https://github.com/adssenacgit/aprendizagem_ctx_senac_coin

[submodule "aprendizagem_ctx_gestao_academica"]
	path = aprendizagem_ctx_gestao_academica
	url = https://github.com/adssenacgit/aprendizagem_ctx_gestao_academica
[submodule "aprendizagem_ctx_controle_acesso"]
	path = aprendizagem_ctx_controle_acesso
	url = https://github.com/adssenacgit/aprendizagem_ctx_controle_acesso.git
[submodule "aprendizagem_ctx_academico"]
	path = aprendizagem_ctx_academico
	url = https://github.com/adssenacgit/aprendizagem_ctx_academico
